{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="post" class="form w-50">
    {% csrf_token %}
    <div class="my-3">
        <input type="text" name="task" placeholder="task" class="form-control" value="{{delete.name}}">


    </div>
    <div>
        <input type="number" name="priority" class="form-control" placeholder="task"  value="{{delete.phone}}">

    </div>
    <div class ="my-3 text-center">
        <h1>Are you sure want to delete??</h1>
        <button class="btn btn-danger">delete</button>
    </div>
</form> 
{% endblock %}